//
//  Config.xcconfig
//  CleanerXcode
//
//  Created by Adriano Costa on 28/03/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

VERSION_FILE_URL = https:/$()/github.com/didisouzacosta/CleanerXcode/raw/refs/heads/resources/version.json
